
body{
background-color: red;
}
body{
color: #000080;
}
body{
font-family: "Lucida Console";
font-size: 18px;
}
div.cheese{
background-image: url("cheese.jpg");
}
div.pepperoni{
background-image: url("pepperoni.jpg");
}
div.sausage{
background-image: url("sausage.jpg");
}
div.pineapple{
background-image: url("pineapple.jpg");
}
div.olive{
background-image: url("olive.jpg");
}
div.bananapeppers{
background-image: url("bananapeppers.jpg");
}
div.bacon{
background-image: url("bacon.jpg");
}
div.canadianbacon{
background-image: url("canadianbacon.jpg");
}
